.bolder {
  border: 4px solid black;
  min-height: 100vh;
  margin: 10px;
}

.header {
  height: 60px;
  border: 4px solid #0000CD;
  margin: -4px;
  color: #0000CD;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 40px;
}

.text {
  border: 4px solid #12b352;
  color: #12b352;
  padding: 5px;
  max-width: 60vh;
}

.hr {
  color: grey;
  backgroundColor: grey;
  height: 5px;
}

.arrow {
  width: 60px;
  height: 20px;
  margin: 10px 0;
  background: #B74388;
  position: relative;
  content: "";
}
.arrow:after{
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  left: 100%;
  border-width: 20px 0 20px 40px;
  border-style: solid;
  border-color: transparent #B74388;
}

.ballon {
  width: 200px;
  height: 100px;
  color: #87CEFA;
  border-radius: 100px/50px;
  border: 2px solid #87CEFA;
  margin: 60px;
  line-height: 90px;
  padding: 3px;
}